# Ignore Python compiled files
__pycache__/
*.pyc
studybud/settings.py

# Ignore the virtual environment folder
venv/

# Ignore local development settings
*.env

# Ignore the database file
# db.sqlite3

# Ignore static and media files (if they're managed by Django)
/staticfiles/
/media/