  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% comment %} <link rel="stylesheet" href="{% static 'css/script.css' %}" />
    <link rel="stylesheet" href="{% static 'css/toastify.css' %}" /> {% endcomment %}
    <title>StudyBuddy - Find study partners around the world!</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

  
  </head>